{% extends "app_proyecto/padre.html" %}

{% load static %}

{% block contenido %}

<div class="about-me">
    <h2>Acerca de mí</h2>
    <br><br>
    <p>Soy una persona apasionada por la tecnología y actualmente me desempeño en el análisis de datos en una empresa de telecomunicaciones. Aunque mi trabajo está más enfocado en el análisis de datos, tengo un gran interés en el desarrollo web y estoy en constante aprendizaje en este campo.</p>
    <p>Este proyecto de adopción de mascotas es mi primer proyecto web, lo que demuestra mi compromiso y dedicación para aplicar y mejorar mis habilidades de desarrollo web. A través de este proyecto, no solo estoy persiguiendo mi pasión, sino también haciendo una contribución positiva a la sociedad al ayudar a las mascotas a encontrar un hogar.</p>
    <p>¡Estoy emocionado por seguir adelante con mi aprendizaje y mi increíble trabajo en el desarrollo web!</p>
</div>
{% endblock %}