{% extends "app_proyecto/padre.html" %}
{% load static %}

{% block titulo %}

<h1>Listado de mascotas</h1>
<br><br>

{% endblock %}

{% block contenido %}

<div class="container py-1">
  <a href="{% url 'Crear_Mascota' %}" class="btn btn-primary mb-3">Agregar otra mascota + </a>

  <form method="get" class="form-inline mb-3">
      <input type="text" name="search" placeholder="Buscar por raza" class="form-control mr-2">
      <input type="submit" value="Buscar" class="btn btn-secondary">
  </form>

  <table class="table table-bordered">
      <thead>
          <tr>
              <th scope="col">Foto</th>
              <th scope="col">Nombre</th>
              <th scope="col">Raza</th>        
              <th scope="col">Descripción</th> 
              <th scope="col">En adopción</th>        
              <th scope="col">Opciones</th>        
          </tr>
      </thead>
      <tbody>
          {% for valor in mascotas %}
          <tr>
              {% if valor.foto %}
              <td><img src="{{valor.foto.url}}" alt="foto no disponible" style= "max-width: 150px"></td>
              {% else %}
              <td>Foto no disponible</td>
              {% endif %}        
              <td>{{valor.nombre}}</td>
              <td>{{valor.raza}}</td>
              <td>{{valor.descripcion}}</td>
              <td>{{valor.disponible}}</td>
              <td>
                  <div><a href="{% url 'Editar_Mascota' valor.id %}" class="btn btn-primary btn-sm">Editar</a></div>
                  <div><a href="{% url 'Eliminar_Mascota' valor.id %}" class="btn btn-danger btn-sm">Eliminar</a></div>
                 
              </td> 
          </tr>
          {% endfor %}
      </tbody>
  </table>
</div>
{% endblock %}